{% extends "base_generic.html" %}
{% block body_block %}
 <div style="margin-left:35%">
{% if form.errors %}
<p>Wprowadzono bledny login lub hasło. Spróbuj ponownie.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Twoje konto nie posiada wymaganych uprawnień. 
	Aby kontynuowac zaloguj sie na konto, które ma dostateczne uprawnienia.</p>
    {% else %}
    <p>Zaloguj się, aby zobaczyć tą strone</p>
    {% endif %}
{% endif %}
{% if user.is_authenticated %}
  <a href="{% url 'logout' %}?next={{ request.path }}">Wyloguj</a>
{% else %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>Login</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>Hasło</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="Zaloguj" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
<p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>
{% endif %}
</div>

{% endblock %}
