{% extends "base_generic.html" %}
{% block body_block %}
 <div style="margin-left:35%">
    {% if validlink %}
        <p>Prosze wpisz i potwierdz swoje nowe haslo</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nowe haslo:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Potwierdz haslo:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zmien haslo" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Blad przy probie zmiany hasla</h1>
        <p>Link z odswiezeniem hasla jest nieprawidlowy, prawdopodobnie z powodu uzycia go wczesniej. Prosze wyslac ponowne zapytanie o zmiane hasla</p>
    {% endif %}
</div>
{% endblock %}
