{% extends "base_generic.html" %}
{% block body_block %}
{% if all_car_list %}
    <ul>
        {% for car in all_car_list %}
            <li><a href="{% url 'district_office:detail' car.vin %}">{{ car }}</a></li>
        {% endfor %}
    </ul>
    <button onclick="location.href='{% url 'district_office:add' %}'">Register new car</button>
    <button onclick="location.href='{% url 'district_office:status' %}'">Change car status</button>
    <button onclick="location.href='{% url 'district_office:stolen' %}'">Stolen cars</button>
{% else %}
    <p>No cars are available.</p>
    <button onclick="location.href='{% url 'district_office:add' %}'">Register new car</button>
    <button onclick="location.href='{% url 'district_office:status' %}'">Change car status</button>
    <button onclick="location.href='{% url 'district_office:stolen' %}'">Stolen cars</button>
{% endif %}
{% endblock %}

