{% extends "base_generic.html" %}
{% block body_block %}
{% if all_car_list %}
    <ul>
        {% for car in all_car_list %}
            <li><a href="{% url 'district_office:detail' car.vin %}">{{ car }}</a></li>
        {% endfor %}
    </ul>
    <button onclick="location.href='{% url 'district_office:add' %}'">Zarejestruj nowy samochod</button>
    <button onclick="location.href='{% url 'district_office:status' %}'">Zmien status samochodu</button>
    <button onclick="location.href='{% url 'district_office:stolen' %}'">Skradzione samochody</button>
{% else %}
    <p>Brak dostepnych samochodow.</p>
    <button onclick="location.href='{% url 'district_office:add' %}'">Zarejestruj nowy samochod</button>
    <button onclick="location.href='{% url 'district_office:status' %}'">Zmien status samochodu</button>
    <button onclick="location.href='{% url 'district_office:stolen' %}'">Skradzione samochody</button>
{% endif %}
{% endblock %}

